{% extends 'navbar.html' %}
{% block title_block %} All Album {% endblock %}

{% block body_block %}
<style>
   .image-thumbail {
        height: 200px;
        object-fit: cover;
    }
    .list-group-item a {
        text-decoration: none;
        color: black;
    }


</style>
<div class="w3-sidebar w3-bar-block w3-card" style="width:22%; right:13%; background-color:#F2F2F2;" id="rightMenu">
    <div class="row">
        <hr>
        <div class="col-sm-4">
            {% if user.profile.profile_pic %}
            <img src="/media/{{user.profile.profile_pic}}" width="50px" height="50px" style="margin-left:15%"
                 class="rounded-circle">
            {% else %}
            <img src="/media/default.jpg" width="50px" height="50px" style="margin-left:15%" class="rounded-circle">
            {% endif %}
        </div>
        {{user.profile.username}}
        <br>
        {{user.profile.full_name}}
    </div>
    <hr>
    <div class="card" style="padding: 10px;">
        <div class="card-header text-center">
            Album List
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a href="{% url 'Posts_App:albumshow' %}">All</a>
            </li>
            {% for album in album_list %}
            <li class=" list-group-item">
                <a href="{% url 'Posts_App:albumshow' %}?album={{album.album_name}}">
                    {{album.album_name}}  &nbsp;<a style="color:#82B6D9;">Created by :&nbsp; {{album.user.profile.username}}</a>
                </a>
            </li>
            {% endfor %}
            <a href="{% url 'Posts_App:addalbum' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>
        </ul>
    </div>
</div>


<div class="w3-container" style="margin-left:13%; margin-right:13%; width:50%;">
    {% if search %}
    {% for user in result %}
    <div class="row">
        <div class="col-sm-2">
            {% if user.profile.profile_pic %}
            <img src="/media/{{user.profile.profile_pic}}" width="75px" height="75px" class="rounded-circle">
            {% else %}
            <img src="/media/default.jpg" width="75px" height="75px" class="rounded-circle">
            {% endif %}
        </div>
        <div class="col-sm-10">
            <a href="{% url 'Login_App:user' username=user.username %}">{{user.profile.username}}</a>
            <br>
            {{user.full_name}}
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row" style="height: 50px;">
        <div style="background-color: #82B6D9; height: 10px;">
        </div>
        <div style="height: 55px; background-color: #ffffff;">
            <div class="d-flex bd-highlight">
                <div class="p-2 bd-highlight">
                    <a href="{% url 'Posts_App:home' %}" class="btn btn-outline-secondary">View Single Photos</a>
                </div>
                <div class="p-2 bd-highlight">
                    <a href="{% url 'Posts_App:albumshow' %}" class="btn btn" style="background-color: #82B6D9;">View
                        Album Photos</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-------------------------------------------album------------------------->
    <div class="row" style="background-color: #ffffff;">
        <hr style="color: #ffffff">
        {% for photo in photos %}
        <div class="col-md-4">
            <div class="card my-2">
                <img class="image-thumbail" src="/media/{{photo.image}}" alt="Card image cap">
                <div class="card-body">
                    <small>Album: {{photo.album.album_name}}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    {% endif %}
</div>

{% endblock %}